[http.middlewares]
    [http.middlewares.only-internal.ipWhiteList]
        sourceRange = ["127.0.0.1/32", "::1", "{{ (ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask) | ipaddr('network/prefix') }}", "{{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }}"]
