#!/bin/sh

DISPLAY=:0 xset -dpms

FAIL="1"
while [ "$FAIL" -ne "0" ]; do
    sleep 1
    curl http://getraenkekasse.kalk.space -s -f -L -o /dev/null
    FAIL=$?
done
# wait for mete as well so the initial screen shows drinks right away
FAIL="1"
while [ "$FAIL" -ne "0" ]; do
    sleep 1
    curl http://getraenkekasse.kalk.space/mete/api/v1/drinks.json -s -f -L -o /dev/null
    FAIL=$?
done

chromium \
    --disable-pinch --start-fullscreen \
    --overscroll-history-navigation=0 \
    --kiosk http://getraenkekasse.kalk.space